{% load static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{%  static 'bootstrap_css/bootstrap.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap_css/bootstrap-social.css' %}">
<link rel="stylesheet" href="{%  static 'css/oauth.css' %}">
<link rel="stylesheet" href="{%  static 'css/font-awesome.css' %}" >

<html>
  
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}

  </body>
</html>