{% load static %}
{% load socialaccount %}

<html>
    <head>
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        
        <title>3D Creator Key</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <link rel="stylesheet" href="{%  static 'css/styles.css' %}">

        <!-- Styles -->
        <style>
            body {
                background-image: url({%  static 'background.png' %});
                background-repeat: no-repeat;
                background-position: center;
                opacity: .8;
                background-size: auto auto;
              }
        </style>
    </head>
    <body>

        <div class="flex-center position-ref full-height">
                            <div class="top-right links">
                                <br>
                                {% if user.is_authenticated %}
                                    <p class="top-right shadow">Здраствуйте, {{ user.username }}!</p>
                                {% else %}
                                    <a href="{% provider_login_url 'google' %}">Login</a>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                            <div class="top-right links">
                                <br>
                                    <p class="top-right shadow"><a href="accounts/logout/">Выход</a></p>
                            </div>
                            {% endif %}
                            <div class="content">
                <div class="title m-b-md">
                    {% if user.is_authenticated %}
                    <div class="zoom">
                        <a href="menu/"><p class="shadow">3D Key Creator</p></a>
                    </div>
                    {% else %}
                     3D Key Creator
                    {% endif %}

                </div>
            </div>
        </div>

        <div>
            <footer>
                Copyright &copy; 2022 by Nicke. All Right Reserved.
            </footer>
        </div>
       

    </body>
</html>