{% load static %}
{% load socialaccount %}

<head>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    
    <title>3D Creator Key</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/keylist.css' %}">

    <!-- Styles -->
    <style>
    </style>
</head>
<body>

    <div class="back-button links shadow">
        <a href="../../category/"> Назад </a>
    </div>

<div class="key-item">
    <div class="key-img">
      <a href="create">
        <img src="{% static 'image-key/PinKey/JNG1D_JNG1_JU11R_JUD1L.png' %}">
      </a>
    </div>
    <div class="key-list">
      <h3>JNG1D_JNG1_JU11R_JUD1L</h3>
      <div class="actions">
        <div class="create-box">
          <a href="" class="create-button">Создать</a>
        </div>
        </div>
      </div>
  </div>

  <div class="key-item">
    <div class="key-img">
      <a href="">
        <img src="{% static 'image-key/PinKey/u16_u16s_x_x.png' %}">
      </a>
    </div>
    <div class="key-list">
      <h3>u16_u16s_x_x</h3>
      <div class="actions">
        <div class="create-box">
          <a href="" class="create-button">Создать</a>
        </div>
        </div>
      </div>
  </div>

</body>

<footer>

    <div class="back-button links shadow">
        <a href="../../category/"> Назад </a>
    </div>

</footer>

</html>